{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <section class="first-block">
        <div class="container first-block__container">
            <div class="first-block__currency">
                <div class="slider-container-currency">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide currency-slide">
                            <div class="currency-slider">
                                <div class="currency-slider__title">Currency 1</div>
                                <div class="currency-slider__text">Some test text block 1</div>
                            </div>
                        </div>
                        <div class="swiper-slide currency-slide">
                            <div class="currency-slider">
                                <div class="currency-slider__title">Currency 2</div>
                                <div class="currency-slider__text">Some test text block 2</div>
                            </div>
                        </div>
                        <div class="swiper-slide currency-slide">
                            <div class="currency-slider">
                                <div class="currency-slider__title">Currency 3</div>
                                <div class="currency-slider__text">Some test text block 3</div>
                            </div>
                        </div>
                        <div class="swiper-slide currency-slide">
                            <div class="currency-slider">
                                <div class="currency-slider__title">Currency 4</div>
                                <div class="currency-slider__text">Some test text block 4</div>
                            </div>
                        </div>
                        <div class="swiper-slide currency-slide">
                            <div class="currency-slider">
                                <div class="currency-slider__title">Currency 5</div>
                                <div class="currency-slider__text">Some test text block 5</div>
                            </div>
                        </div>
                        <div class="swiper-slide currency-slide">
                            <div class="currency-slider">
                                <div class="currency-slider__title">Currency 6</div>
                                <div class="currency-slider__text">Some test text block 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="first-block__adaptive">
                <a href="#" class="first-block__link">New news</a>
                <h1 class="first-block__title">This news will be shocked you! Example test</h1>
                <p class="first-block__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi maximus
                    lorem eget quam pretium accumsan. Nam sit amet dictum tortor, ac rutrum mi. Suspendisse potenti. Donec
                    molestie felis a accumsan sollicitudin. Nulla nec diam id felis fermentum feugiat. Curabitur maximus
                    nunc in augue ultrices placerat. Suspendisse rhoncus risus lectus, eu feugiat justo posuere in.</p>
                <a href="#" class="first-block__btn btn-reset">Read the news</a>
            </div>
            <div class="first-block__bottom">
                <form action="/" method="get" class="first-block__form search-form">
                    <label>
                        <input type="search" name="search" placeholder="City search for weather forecast" class="search-form__field">
                        <button type="submit" class="search-form__btn btn-reset" aria-label="City search for weather forecast">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </label>
                </form>
                <div class="first-block__slider main-slider">
                    <div class="slider-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="main-slider">
                                    <img src="{% static '/media/first_block/weather_1.jpg' %}" class="main-slider__image" alt="Slide-weather-image-1">
                                </div>
                                <p class="main-slider__text">Weather headline 1</p>
                            </div>
                            <div class="swiper-slide">
                                <div class="main-slider__media">
                                    <img src="{% static '/media/first_block/weather_2.jpg' %}" class="main-slider__image" alt="Slide-weather-image-2">
                                </div>
                                <p class="main-slider__text">Weather headline 2</p>
                            </div>
                            <div class="swiper-slide">
                                <div class="main-slider__media">
                                    <img src="{% static '/media/first_block/weather_3.jpg' %}" class="main-slider__image" alt="Slide-weather-image-3">
                                </div>
                                <p class="main-slider__text">Weather headline 3</p>
                            </div>
                            <div class="swiper-slide">
                                <div class="main-slider__media">
                                    <img src="{% static '/media/first_block/weather_4.jpg' %}" class="main-slider__image" alt="Slide-weather-image-4">
                                </div>
                                <p class="main-slider__text">Weather headline 4</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="second-block">
        <div class="container">
            <h2 class="section-title second-block__title">Travel block</h2>
            <p class="second-block__description">Choose place where you want to travel</p>
            <ul class="second-block__list">
                <li class="second-block__item">
                    <img src="{% static '/media/second_block/travel_1.jpg' %}" class="second-block__image" alt="Travel image location 1">
                    <div class="second-block__text">Place description Test text for layout</div>
                </li>
                <li class="second-block__item">
                    <img src="{% static '/media/second_block/travel_2.jpg' %}" class="second-block__image" alt="Travel image location 2">
                    <div class="second-block__text">Place description Test text for layout</div>
                </li>
                <li class="second-block__item">
                    <img src="{% static '/media/second_block/travel_3.jpg' %}" class="second-block__image" alt="Travel image location 3">
                    <div class="second-block__text">Place description Test text for layout</div>
                </li>
                <li class="second-block__item">
                    <img src="{% static '/media/second_block/travel_4.jpg' %}" class="second-block__image" alt="Travel image location 4">
                    <div class="second-block__text">Place description Test text for layout</div>
                </li>
            </ul>
        </div>
    </section>
    <section class="third-block">
        <div class="container">
            <h2 class="section-title third-block__title">Collage block</h2>
            <p class="third-block__description">Choose a tile which you want to read</p>
            <ul class="grid third-block__list">
                <li class="third-block__item third-block__item-big">
                    <div class="third-block__container card">
                        <div class="card__title">Card title</div>
                        <div class="card__popup">
                            <div class="card__popup-block-1">
                                <div class="card__span">Card span</div>
                                <div class="card__description">Card description</div>
                                <div class="card__text">Card text</div>
                            </div>
                            <div class="card__popup-block-2">
                                <div class="card__image">
                                    <img src="{% static '/media/third_block/collage_test_background.jpg' %}" class="card__img long" alt="Collage-background">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="third-block__item">
                    <div class="third-block__container card">
                        <div class="card__title">Card title</div>
                        <div class="card__popup">
                            <div class="card__popup-block-1">
                                <div class="card__span">Card span</div>
                                <div class="card__description">Card description</div>
                                <div class="card__text">Card text</div>
                            </div>
                            <div class="card__popup-block-2">
                                <div class="card__image">
                                    <img src="{% static '/media/third_block/collage_test_background.jpg' %}" class="card__img small" alt="Collage-background">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="third-block__item third-block__item-big-height">
                    <div class="third-block__container card">
                        <div class="card__title">Card title</div>
                        <div class="card__popup-medium">
                            <div class="card__popup-block-1">
                                <div class="card__span">Card span</div>
                                <div class="card__description">Card description</div>
                                <div class="card__text">Card text</div>
                            </div>
                            <div class="card__popup-block-2">
                                <div class="card__image">
                                    <img src="{% static '/media/third_block/collage_test_background.jpg' %}" class="card__img medium" alt="Collage-background">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="third-block__item third-block__item-big-height">
                    <div class="third-block__container card">
                        <div class="card__title">Card title</div>
                        <div class="card__popup-medium">
                            <div class="card__popup-block-1">
                                <div class="card__span">Card span</div>
                                <div class="card__description">Card description</div>
                                <div class="card__text">Card text</div>
                            </div>
                            <div class="card__popup-block-2">
                                <div class="card__image">
                                    <img src="{% static '/media/third_block/collage_test_background.jpg' %}" class="card__img medium" alt="Collage-background">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="third-block__item third-block__item-big-height">
                    <div class="third-block__container card">
                        <div class="card__title">Card title</div>
                        <div class="card__popup-medium">
                            <div class="card__popup-block-1">
                                <div class="card__span">Card span</div>
                                <div class="card__description">Card description</div>
                                <div class="card__text">Card text</div>
                            </div>
                            <div class="card__popup-block-2">
                                <div class="card__image">
                                    <img src="{% static '/media/third_block/collage_test_background.jpg' %}" class="card__img medium" alt="Collage-background">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="third-block__item">
                    <div class="third-block__container card">
                        <div class="card__title">Card title</div>
                        <div class="card__popup">
                            <div class="card__popup-block-1">
                                <div class="card__span">Card span</div>
                                <div class="card__description">Card description</div>
                                <div class="card__text">Card text</div>
                            </div>
                            <div class="card__popup-block-2">
                                <div class="card__image">
                                    <img src="{% static '/media/third_block/collage_test_background.jpg' %}" class="card__img small" alt="Collage-background">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="third-block__item third-block__item-big">
                    <div class="third-block__container card">
                        <div class="card__title">Card title</div>
                        <div class="card__popup long">
                            <div class="card__popup-block-1">
                                <div class="card__span">Card span</div>
                                <div class="card__description">Card description</div>
                                <div class="card__text">Card text</div>
                            </div>
                            <div class="card__popup-block-2">
                                <div class="card__image">
                                    <img src="{% static '/media/third_block/collage_test_background.jpg' %}" class="card__img long" alt="Collage-background">
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}