@import "variables";
/* overall */
.container {
	max-width: 1626px;
	padding: 0 30px;
	margin: 0 auto;
}

.lock {
    overflow: hidden;
}

.wrapper {
	overflow: hidden;
}

.flex {
	display: flex;
}

.grid {
	display: grid;
}

.btn-reset {
	border: none;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
}

.section-title {
	font-family: $main-font-family;
	font-weight: 700;
	font-size: 45px;
	line-height: 45px;
	color: $black-font-color;
	padding: 0 0 30px 0;
}

/* no styles for search input */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

/* slider styles */
.slider-container {
	height: 380px;
	transition: transform 0.3s;
}

.swiper-slide-active {
	transition: transform 0.3s;
}

.currency-slider {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: center;
	min-height: 30px;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px;
	border-radius: 8px;
	&__title {
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 500;
		color: $white-font-color;
		text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.7);
		margin: 0 0 5px 20px;
		cursor: pointer;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
	&__text {
		font-family: $main-font-family;
		font-size: 16px;
		font-weight: 500;
		color: $white-font-color;
		text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.7);
		margin: 0 0 0 20px;
		cursor: pointer;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
}

.main-slider {
	overflow: hidden;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	line-height: 1;
	font-size: 0;
	&__media {
		position: relative;
	}
	&__weather {
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		top: 0;
		left: 0;
		width: 93%;
		height: 100%;
	}
	&__text {
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: $main-font-family;
		font-size: 16px;
		font-weight: 500;
		letter-spacing: 2px;
		line-height: 1.5;
		text-transform: uppercase;
		color: $white-font-color;
		text-shadow: 0 -3px 2px rgba(0, 0, 0, 0.7);
		background-color: $neptune-font-color;
		&:hover {
			background-color: $neptune-hover-font-color;
			transition: background-color 0.3s;
		}
	}
	&__image {
		width: 100%;
    	height: 280px;
		object-fit: cover;
	}
}

.weather-info {
	margin: 15px;
	&__block-left,
	&__block-right {
		width: 50%;
		padding: 10px;
	}
	&__description,
	&__wind,
	&__temp,
	&__pressure,
	&__humidity {
		font-family: $main-font-family;
		font-size: 14px;
		font-weight: 500;
		color: $white-font-color;
		background-color: rgba(0, 0, 0, 0.7);
		text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.5);
		border-radius: 8px;
		padding: 10px;
		margin: 5px 0 0 0;
		cursor: pointer;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
}

/* header styles */
.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	/* background-color: rgba(0, 0, 0, 0.7); */
	z-index: 5;
	&__container {
		justify-content: space-between;
		align-items: center;
		padding: 55px 0;
	}
	&__global {
		display: flex;
		align-items: center;
	}
	&__favorites {
		display: block;
		font-size: 30px;
		color: $white-font-color;
		cursor: pointer;
		margin: 0 40px 0 0;
	}
}

.social {
	display: flex;
	align-items: center;
	&__link {
		display: block;
		font-size: 30px;
		color: $white-font-color;
		cursor: pointer;
	}
	&__link:hover {
		color: $accent-font-color;
		transition: color 0.3s;
	}
	&__item:not(:last-child) {
		margin: 0 40px 0 0;
	}
}

.logo {
	font-family: $main-font-family;
	font-size: 30px;
	font-weight: 800;
	line-height: 1;
	text-align: center;
	letter-spacing: 2px;
	color: $white-font-color;
	text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	cursor: pointer;
	z-index: 15;
	&:hover {
		color: $accent-font-color;
		transition: color 0.3s;
	}
}

/* menu (burger) styles */
.menu {
	position: fixed;
	left: -150vw;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
	&__visible {
		left: 0;
		transition: left 0.3s;
	}
	&__nav {
		width: 100%;
		height: 100%;
		padding: 30px 0 0 0;
		overflow-y: auto;
	}
	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		padding: 25px;
	}
	&__item {
		margin: 0 0 15px 0;
	}
	&__link {
		font-family: $main-font-family;
		font-size: 35px;
		font-weight: 500;
		text-align: center;
		letter-spacing: 2px;
		color: $white-font-color;
		text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
	&__close {
		position: absolute;
		width: 40px;
		height: 40px;
		right: 1%;
		top: 4%;
	}
	&__line {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 3px;
		background-color: $white-font-color;
		&:first-child {
			transform: rotate(45deg);
		}
		&:last-child {
			transform: rotate(-45deg);
		}
	}
}

.burger {
	position: relative;
	width: 48px;
	height: 10px;
	cursor: pointer;
	&:hover .burger__line {
		background-color: $accent-font-color;
		transition: background-color 0.3s;
	}
	&__line {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 2px;
		background-color: $white-font-color;
		transition: background-color 0.3s;
		&:last-child {
			top: auto;
			bottom: 0;
		}
	}
}

.languages {
	color: $white-font-color;
	cursor: pointer;
	margin: 0 40px 0 0;
	&:hover {
		color: $accent-font-color;
		transition: color 0.3s;
	}
	li {
		position: relative;
		margin: 0 10px 0 0;
		font-size: 30px;
		&:hover .languages__item {
			display: block;
		}
	}
	&__item {
		display: none;
		position: absolute;
		width: max-content;
		top: 30px;
		right: 0;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 8px;
	}
	&__ru {
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		color: $white-font-color;
		text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
		padding: 10px;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
	&__en {
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		color: $white-font-color;
		text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
		padding: 10px;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
}

/* main styles */
/* first block styles */
.first-block {
	height: 100vh;
	min-height: 640px;
	background-image: url("../media/backgrounds/background_first_block.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $white-font-color;
	&__container {
		position: relative;
		padding: 223px 0 200px 0;
		height: 100%;
	}
	&__adaptive {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		width: 68%;
		height: 100%;
	}
	&__item {
		display: inline-block;
		width: fit-content;
		font-family: $main-font-family;
		font-size: 12px;
		font-weight: 800;
		letter-spacing: 2px;
		padding: 15px 30px;
		color: $white-font-color;
		text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 8px;
		text-transform: uppercase;
		cursor: pointer;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
	&__title {
		font-family: $main-font-family;
		font-size: 25px;
		font-weight: 700;
		width: 60%;
		line-height: 35px;
		color: $white-font-color;
		text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
		padding: 15px 30px;
		margin: 30px 0;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 8px;
		text-transform: uppercase;
	}
	&__description {
		padding: 15px 30px;
		margin: 0 0 10px 0;
		background-color: rgba(0, 0, 0, 0.5);
		border-radius: 8px;
	}
	&__converter {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		width: 68%;
		height: 45px;
		margin: 0 0 45px 0;
	}
	&__result {
		width: 60%;
		height: 45px;
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 800;
		padding: 12px 20px;
		color: $black-font-color;
		background: $white-font-color;
		border-radius: 8px;
		border: 1px solid $black-font-color;
	}
	&__btn {
		width: fit-content;
		font-family: $main-font-family;
		font-size: 14px;
		font-weight: 800;
		padding: 15px;
		color: $white-font-color;
		text-shadow: 0 -3px 2px rgba(0, 0, 0, 0.7);
		background-color: $accent-font-color;
		text-transform: uppercase;
		border-radius: 8px;
		z-index: 5;
		&:hover {
			background-color: $accent-hover-font-color;
			transition: background-color 0.3s;
		}
	}
	&__bottom {
		display: flex;
		align-items: flex-end;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 0;
		width: 100%;
	}
}

.weather-search {
	width: 60%;
	&__description,
	&__wind,
	&__temp,
	&__pressure,
	&__humidity {
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 600;
		line-height: 25px;
		width: 60%;
		color: $white-font-color;
		text-shadow: 0 -3px 2px rgba(0, 0, 0, 0.7);
		margin: 0 0 5px 0;
	}
}

.search-form {
	flex-shrink: 0;
	width: 68%;
	position: relative;
	overflow: hidden;
	border-top-left-radius: 8px;
	height: 100px;
	&__field {
		font-family: $main-font-family;
		font-size: 16px;
		font-weight: 500;
		border: none;
		background-color: $white-font-color;
		width: 100%;
		height: 100%;
		color: $dark-font-color;
		padding: 0 85px 0 55px;
	}
	&__btn {
		width: 18px;
		height: 18px;
		position: absolute;
		right: 55px;
		top: 50%;
		color: $dark-font-color;
		transform: translateY(-50%);
		cursor: pointer;
	}
}

/* second block styles */
.second-block {
	padding: 100px 0 200px 0;
	width: 100%;
    height: 100vh;
	background-image: url('../media/backgrounds/background_second_block.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&__title {
		max-width: 50%;
		text-shadow: 0 -3px 2px rgba(255, 255, 255, 0.7);
	}
	&__description {
		font-family: $main-font-family;
		font-weight: 700;
		font-size: 30px;
		line-height: 31px;
		text-align: center;
		color: $black-font-color;
		text-shadow: 0 -3px 2px rgba(255, 255, 255, 0.7);
		padding: 15px 0;
	}
	&__list {
		display: flex;
		margin: 95px 0 0 0;
	}
	&__image {
		max-height: 100%;
		object-fit: cover;
		border-radius: 8px;
	}
	&__item {
		position: relative;
		margin: 0 2% 2% 0;
		overflow: hidden;
		border-radius: 8px;
		font-size: 0;
		cursor: pointer;
	}
	&__item:nth-child(4n) {
		margin: 0 0 2% 0;
	}
	&__item::before {
		content: '';
		position: absolute;
		background: $neptune-hover-font-color;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		border-radius: 8px;
	}
	&__item:hover::before {
		opacity: 0.7;
		transition: opacity 0.3s ease-in-out;
	}
	&__item:hover .second-block__text {
		transform: translateY(0);
		transition: transform 0.3s ease-in-out;
	}
	&__text {
		position: absolute;
		left: 0;
		bottom: 0;
		padding: 0 55px 60px 55px;
		transform: translateY(300px);
	}
	&__info {
		font-family: $main-font-family;
		font-weight: 700;
		font-size: 24px;
		line-height: 31px;
		text-align: left;
		color: $white-font-color;
		text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
		padding: 0 0 50px 0;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
	&__btn {
		left: 0;
		bottom: 0;
		background-color: $accent-font-color;
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 700;
		color: $white-font-color;
		text-shadow: 0 -3px 2px rgba(0, 0, 0, 0.7);
		border-radius: 8px;
		padding: 15px;
		&:hover {
			background-color: $accent-hover-font-color;
			transition: background-color 0.3s;
		}
	}
}

/* third block styles */
.third-block {
	padding: 100px 0 200px 0;
	width: 100%;
	//height: 100vh;
	background-image: url('../media/backgrounds/background_third_block.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&__title {
		max-width: 50%;
		color: $white-font-color;
		text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
	}
	&__description {
		font-family: $main-font-family;
		font-weight: 700;
		font-size: 30px;
		line-height: 31px;
		text-align: center;
		color: $white-font-color;
		text-shadow: 0 -5px 2px rgba(0, 0, 0, 0.7);
		padding: 15px 0;
	}
	&__list {
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: minmax(300px, auto);
		grid-gap: 32px;
	}
	&__item {
		background-color: $white-font-color;
		border-radius: 8px;
	}
	&__item-big {
		grid-column-end: span 2;
	}
	&__item-big-height {
		height: 500px;
	}
}

/* images params for collage */
.long {
	height: 200px;
	width: 400px;
}

.medium {
	height: 225px;
    width: 430px;
}

.small {
	height: 150px;
    width: 250px;
}

.card {
	position: relative;
	background-image: url('../media/third_block/collage_test_2.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 8px;
	font-size: 0;
	cursor: pointer;
	&::before {
		content: '';
		position: absolute;
		background-image: url('../media/backgrounds/collage.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		border-radius: 8px;
	}
	&:hover::before {
		opacity: 0.7;
		transition: opacity 0.3s ease-in-out;
	}
	&__popup {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		height: 330px;
    	width: 100%;
		padding: 40px 20px;
		transform: translateY(300px);
	}
	&:hover .card__popup {
		transform: translateY(0);
		transition: transform 0.3s ease-in-out;
	}
	&__popup-medium {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		position: absolute;
		height: 300px;
		width: 100%;
		padding: 70px 20px;
		transform: translateY(450px);
	}
	&:hover .card__popup-medium {
		transform: translateY(0);
		transition: transform 0.3s ease-in-out;
	}
	&__title {
		position: absolute;
		font-family: $main-font-family;
		font-weight: 700;
		font-size: 30px;
		text-align: left;
		color: $black-font-color;
		text-shadow: 0 -2px 2px rgba(255, 255, 255, 0.7);
		padding: 25px 0 0 35px;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
	&__span {
		font-family: $main-font-family;
		font-weight: 700;
		font-size: 25px;
		text-align: left;
		color: $black-font-color;
		text-shadow: 0 -2px 2px rgba(255, 255, 255, 0.7);
		padding: 15px;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
	&__description,
	&__text {
		font-family: $main-font-family;
		font-weight: 700;
		font-size: 20px;
		text-align: left;
		color: $black-font-color;
		text-shadow: 0 -2px 2px rgba(255, 255, 255, 0.7);
		padding: 15px;
		&:hover {
			color: $accent-hover-font-color;
			transition: color 0.3s;
		}
	}
	&__img {
		object-fit: cover;
		border-radius: 8px;
		margin: 15px;
	}
}

/* fourth block styles */
.fourth-block {
	padding: 100px 0 200px 0;
	width: 100%;
	height: 100vh;
	background-image: url('../media/backgrounds/background_fourth_block.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 200px 120px;
	}
	&__text {
		width: 50%;
	}
	&__form{
		width: 50%;
	}
	&__title {
		text-align: center;
		text-shadow: 0 -3px 2px rgba(255, 255, 255, 0.7);
	}
	&__description {
		font-family: $main-font-family;
		font-weight: 700;
		font-size: 30px;
		line-height: 31px;
		text-align: center;
		color: $black-font-color;
		text-shadow: 0 -3px 2px rgba(255, 255, 255, 0.7);
		padding: 15px 0;
	}
}

.post-form {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
	&__field-name {
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	&__field-name,
	&__field-email,
	&__field-post {
		max-width: 420px;
		max-height: 80px;
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 500;
		color: $dark-font-color;
		background-color: $white-font-color;
		padding: 15px;
	}
	&__btn {
		width: 420px;
		height: 80px;
		background-color: $neptune-font-color;
		font-family: $main-font-family;
		font-size: 14px;
		font-weight: 700;
		color: $white-font-color;
		text-shadow: 0 -3px 2px rgba(0, 0, 0, 0.7);
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		text-transform: uppercase;
		&:hover {
			background-color: $neptune-hover-font-color;
			transition: background-color 0.3s;
		}
	}
}

/* footer styles */
.footer {
	width: 100%;
	height: 100px;
	background-color: $white-font-color;
	&__container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding: 30px 50px;
	}
	&__column {
		width: 33%;
	}
	&__title {
		font-family: $main-font-family;
		font-size: 20px;
		font-weight: 700;
		text-align: center;
		color: $black-font-color;
		text-shadow: 0 -3px 2px rgba(255, 255, 255, 0.7);
		margin: 0 0 10px 0;
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
	&__text {
		font-family: $main-font-family;
		font-size: 16px;
		font-weight: 700;
		text-align: center;
		color: $black-font-color;
		text-shadow: 0 -3px 2px rgba(255, 255, 255, 0.7);
		&:hover {
			color: $accent-font-color;
			transition: color 0.3s;
		}
	}
}