/* variables */
$white-font-color: #fff;
$black-font-color: #000;
$dark-font-color: #1c2e3d;
$accent-font-color: #e8594e;
$neptune-font-color: #73afba;
$accent-hover-font-color: #e31d0e;
$neptune-hover-font-color: #4196a6;

@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
$main-font-family: 'Zen Dots', cursive;
